# edit your crontab with the command `crontab -e`
# crontabs are backed up to $HOME/backups/conf/ & may be restored with `crontab $BACKUPFILE`
# reset the default etcskel crontab with `reset-crontab` 

# set MAILTO to the address you want output to go to
# for web service users, consider the mail.log hack below instead or setting it to an rt queue
#MAILTO=you@example.com

# from crontab(5): Note in particular that if you want a PATH other than
# "/usr/bin:/bin", you will need to set it in the crontab file.
PATH=$HOME/bin:/usr/local/bin:/usr/bin:/bin

# any executable scripts in these directories will be run at the appropriate time
@reboot   [ -d "$HOME/cron.reboot"  ] && $HOME/bin/run-parts $HOME/cron.reboot
@hourly   [ -d "$HOME/cron.hourly"  ] && $HOME/bin/run-parts $HOME/cron.hourly
@daily    [ -d "$HOME/cron.daily"   ] && $HOME/bin/run-parts $HOME/cron.daily
@weekly   [ -d "$HOME/cron.weekly"  ] && $HOME/bin/run-parts $HOME/cron.weekly
@monthly  [ -d "$HOME/cron.monthly" ] && $HOME/bin/run-parts $HOME/cron.monthly
@yearly   [ -d "$HOME/cron.yearly"  ] && $HOME/bin/run-parts $HOME/cron.yearly

# you can schedule jobs to run at custom intervals, see `man 5 crontab`, fields are:
# min     hour    dom     mon     dow     command
# (0-59)  (0-23)  (1-31)  (1-12)  (0-7)   ...
# 
# any/all   *
# ranges    2-4
# lists     2,4,6,8-10
# steps     8-18/2 (every other hour workday), */2 (every other hour always)
#
# within command%unescaped percent signs indicate newlines%to allow STDIN
# if spec. both day/month & day/week, command will run on either

# uncomment the following for web service users & the like to purge mail spool into log every minute.
# make sure to enable the example logrotate config in $HOME/etc/logrotate.d
#* * * * * echo -e 'save * $HOME/var/log/mail.log\nquit' | mail -N >/dev/null  2>&1

